<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>.</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>pt-BR</string>
		<string>en</string>
		<string>es</string>
		<string>fr</string>
		<string>de</string>
		<string>it</string>
		<string>ja</string>
	</array>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.pedrosalles.smartkitchen.import</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>smartkitchen</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ExaAPIKey</key>
	<string>$(EXA_API_KEY)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>O Smart Kitchen usa a câmera para tirar fotos das suas receitas e refeições.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>O Smart Kitchen usa o microfone para registrar refeições por voz.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>O Smart Kitchen acessa a galeria para anexar fotos às suas receitas.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>O Smart Kitchen usa reconhecimento de voz para transcrever o que você falou sobre sua refeição.</string>
	<key>OpenAIAPIKey</key>
	<string>$(OPENAI_API_KEY)</string>
	<key>OpenRouterAPIKey</key>
	<string>$(OPENROUTER_API_KEY)</string>
	<key>SupabaseAnonKey</key>
	<string>$(SUPABASE_ANON_KEY)</string>
	<key>SupabaseURL</key>
	<string>$(SUPABASE_URL)</string>
	<key>UIAppFonts</key>
	<array>
		<string>PlayfairDisplay.ttf</string>
		<string>PlayfairDisplay-Italic.ttf</string>
		<string>Boska-Black.otf</string>
		<string>Boska-Medium.otf</string>
		<string>Boska-Regular.otf</string>
		<string>Boska-Light.otf</string>
		<string>BricolageGrotesque-Variable.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
